@import "~bootstrap/dist/css/bootstrap.css";

/* Add padding for the nav bar */
body {
  padding-top: 4.5rem;
}

/* Style debug info in alerts */
.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

/* Add padding to user avatar link */
.avatar-link {
  padding-top: .25em;
  padding-bottom: .25em;
}

.fc-scroller {
  overflow-y: hidden !important;
}

input[type="submit"], button {
  min-width: 60px;
}
/* .fc-next-button .fc-button .fc-button-primary{
  background-color: white;
  border: 0;
} */

.fc .fc-button-primary{
  color: black;
  background-color: white;
  border: 0;
}
